.soon{
  // display: none;
  margin-top: 20px;
  @include tablet{
    display: block;
    height: 500px;
    padding-top: 20px;
  }
  @include desktop{   
    padding-top: 25px;
    padding-bottom: 60px;
    height: 670px;
    margin-bottom: 60px;
  }
  .container {
    @include tablet{
      padding: 0 30px;
    }
    width: 100vw;
    padding: 0;
  }
}
.swiper-box{
  position: relative;
}
.swiper {
  overflow: hidden;
  height: 280px;
  @include tablet{
    // display: block;
    height: 500px;
  }
  @include desktop{
    height: 670px;
  }
  // width: 1216px;
  // width: 100%;
}
.parallax-bg {
  height: 320px;
  width: 900px;
  position: absolute;
  // background-image: url(./../images/header-lib/t_23.jpg);
  background-color: tomato;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  // position: relative;
  overflow: hidden;
  @include tablet {
    height: 600px;
    width: 1920px;
    // background-position: center;
  }
  @include desktop {
    height: 700px;
    background-position: center;
  }
}
.swiper-slide {
  // position: absolute;
  // z-index: 11;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
}
.poster {
  width: 390px;
  border-radius: 6px;
  @include mobile{
    width: 100px;
    height: 150px;
  }  
  @include tablet{
    width: 229px;
    height: 343px;
    // max-height: 470px;
  }
  @include desktop{
    max-height: unset;
    width: 350px;
    height: 525px;
  }
  // border: 2px solid var(--accent-color);
  // transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
      // transition: transform 0.3s linear;
      // transform: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
      cursor: pointer;
      background-image: url(../images/card-noposter.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
 
  &:hover {
    box-shadow: 0px 2px 6px 0px rgba(255, 107, 8, 0.75);
    // transform: scale(1.1); 
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  @include mobile {
    font-size: 30px;
  }
  @include tablet {
    font-size: 50px;
  }
  
}

.swiper-button-next,
.swiper-button-prev {
  color:  var(--accent-color);
  // color: lightseagreen;
  transition: 0.2s ease;
  font-size: 80px;
  &:hover {
    transform: scale(1.2);    
    // color: rgb(0, 140, 158);
    color: #fafafa;
    @include tablet{
      color: tomato;
    }     
  }
}
.swiper-button-next{
  @include desktop{
    position: absolute;
    top: 50%;
    right: -3%;
  }  
}
.swiper-button-prev{
  @include desktop{
    position: absolute;
    top: 50%;
    left: -3%;
  } 
}
.swiper-pagination-bullet {
  background-color: var(--accent-color);
  @include mobile {
    width: 15px;
    height: 15px;
    font-weight: 500;
    line-height: 15px;
    font-size: 12px;
    background-color: #ff934a;
  }
  @include tablet {
    width: 25px;
    height: 25px;
    font-weight: 700;
    line-height: 24px;
    font-size: 16px;
    color: unset;
    background-color: var(--accent-color);
  }
}
.swiper-pagination-fraction {
  // width: 20px;
  // height: 20px;
  line-height: 20px;
  font-size: 24px;
  color: lightseagreen;
  color: #fafafa;
  padding-bottom: 7px;
}
.swiper-pagination-progressbar-fill {
  // fill:rgba(255, 107, 8, 0.75);
  background-color: #7a956b;
}
.swiper-scrollbar {
  cursor: pointer;
  height: 30px;
  line-height: 40px;
  tab-size: 30px;

  color:  var(--accent-color);
  background-color: var(--accent-color);
  // background-color: lightseagreen;
  background-color: rgba(255, 107, 8, 0.75);
  size: 10px;
}
.gallery-coming-soon-title {
  display: none;
  @include desktop {
    display: block;
    margin-bottom: 6px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    text-align: center;
    color: var(--card-title-text-color);
    text-shadow: 0px 1px 3px rgba(77, 77, 77, 0.2),
    0px 1px 1px rgba(255, 156, 42, 0.14), 0px 2px 1px rgba(92, 92, 92, 0.2);

  }
}

// .coming-soon-list {
//   display: none;
//   @include desktop {
//     display: flex;
//     gap: 10px;
//     // background-color: tomato;
//   }
// }

// .coming-soon-list-item {
//   display: none;
//   @include desktop {
//     display: block;
//     width: 145px;
//     height: 200px;
//     overflow: hidden;
//     border-radius: 6px;
//     border: 2px solid var(--accent-color);
//     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
//       // transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
//       cursor: pointer;
//       background-image: url(../images/card-noposter.jpg);
//       background-position: center;
//       background-repeat: no-repeat;
//       background-size: contain;
//   }
//   &:hover {
//     box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.75);
//     // transform: scale(1.1);
//   }
// }